<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Automotive Maps API Prober</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font" />
<link th:href="@{img/cloud-run-32-color.png}" rel="icon" type="image/png" />
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function showListMapsResults() {
		// Send AJAX request
		$.get("/listMaps", function(data) {
			$("#listMapsResults").text(data);
		});
	}
</script>
<script>
	$(document).ready(function() {
		$("#listTilesRequestForm").submit(function(event) {
			event.preventDefault(); // Prevent default form submission

			// Get form data
			let formData = {
				lowLat: $("#lowLat").val(),
				lowLang: $("#lowLang").val(),
				highLat: $("#highLat").val(),
				highLong: $("#highLong").val(),
				pageSize: $("#pageSize").val(),
				nextPageToken: $("#nextPageToken").val()
			};

			// Construct URL with query parameters
			let url = "/listTiles?lowLat=" + encodeURIComponent(formData.lowLat) +
					"&lowLng=" + encodeURIComponent(formData.lowLang) +
					"&highLat=" + encodeURIComponent(formData.highLat) +
					"&highLng=" + encodeURIComponent(formData.highLong) +
					"&pageSize=" + encodeURIComponent(formData.pageSize) +
					"&nextPageToken=" + encodeURIComponent(formData.nextPageToken);

			// Send AJAX request
			$.get(url, function(response) {
				// Handle response from the server
				$("#listTilesResults").text(response);
			});
		});
	});
</script>
</head>

<body>
	<h1>Automotive Maps API Prober</h1>
	<button onclick="showListMapsResults()">List Maps</button>
	<div id="listMapsResults"></div>

	<form id="listTilesRequestForm">
		<label for="lowLat">lowLat:</label>
		<input type="number" step="any" required="required" id="lowLat" name="lowLat"><br>

		<label for="lowLang">lowLang:</label>
		<input type="number" step="any" required="required" id="lowLang" name="lowLang"><br>

		<label for="highLat">highLat:</label>
		<input type="number" step="any" required="required" id="highLat" name="highLat"><br>

		<label for="highLong">highLong:</label>
		<input type="number" step="any" required="required" id="highLong" name="highLong"><br>

		<label for="pageSize">pageSize:</label>
		<input type="text" id="pageSize" name="pageSize"><br>

		<label for="nextPageToken">nextPageToken:</label>
		<input type="text" id="nextPageToken" name="nextPageToken"><br>

		<button type="submit">Submit</button>
	</form>
	<div id="listTilesResults"></div>
</body>
</html>
